body {
  padding-top: 50px;
  background-image: url("../images/backgound.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover; 
}
